.contact-bg {
    background: linear-gradient(to right, #70777D 0%, #404749 100%);
    /* opacity: 0.9; */
    color: #000000;
}

.contact-bg .form-bg {
    background-color: #FFFFFF;
    background: rgba(204, 204, 204, 0.8);
}

.mta {
    color: #000000;
    background-color: yellow;
    padding: 6px 8px;
    border-radius: 50%;
}