.contact-bg {
    background-image: url('/highway.jpg');
    background-repeat: round;
    opacity: 0.9;
    color: #000000;
}

.contact-bg > div {
    background-color: #FFFFFF;
    background: rgba(204, 204, 204, 0.8);
}