.contact-bg {
    background: linear-gradient(to right, #868f96 0%, #596164 100%);
    /* opacity: 0.9; */
    color: #000000;
}

.contact-bg > div {
    background-color: #FFFFFF;
    background: rgba(204, 204, 204, 0.8);
}