.gold-text { color: gold; }

.ind-prices-section {
    background-color: #2A2E34;
    color: #E9EAEC;
}

.package-price {
    font-size: 3rem;
}

.package:hover {
    box-shadow: 0 0 50px rgb(255,215,0);
}

.instructor-img { max-height: 300px; }
.popular-text {
    color: gold;
    border: 1px solid #2A2E34;
    background-color: #2A2E34;
}

.specialized {
    color: white;
    background-color: #2A2E34;
}

.apply-border {
    border-top: 2px solid gray;
}

.img-height {
    height: 300px;
}

@media (min-width: 576px) {
    .apply-border {
        border-top: none;
        border-left: 2px solid gray;
    }
}