.gold-text { color: gold; }

.ind-prices-section {
    background-color: #2A2E34;
    color: #E9EAEC;
}

.package-price {
    font-size: 3rem;
}

.package:hover {
    box-shadow: 0 0 50px rgb(255,215,0);
}

.instructor-img { max-height: 250px; }
.popular-text, .pill-text { 
    color: gold;
    border: 1px solid #2A2E34;
    background-color: #2A2E34;
}

.popular-text {
    color: #FFF;
}


.specialized { 
    color: white;
    background-color: #2A2E34;
}