.footer {
    color: #FFF;
}

.light-text-color {
    color: #FFF;
}

.social-icon {
    height: 50px;
}

.copyright-text {
    font-size: 13px;
    color: #FBE134;
}

.row-bg {
    background-color: #2A2E34;
    min-height: 200px;
}

@media(max-width: 768px) {
    .bord-right {
        border-right: 0;
    }
}

.footer-contact-icon {
    height: 20px;
    filter: invert(72%) sepia(84%) saturate(556%) hue-rotate(359deg) brightness(103%) contrast(105%);
}

.footer-link {
    text-decoration: none;
    font-size: 14px;
}

a.footer-link:active,
a.footer-link:focus,
a.footer-link:hover
{
    color:#FBE134;
}

.important-links a:active,
.important-links a:focus,
.important-links a:hover {
    color: #FBE134;
}