.nav-bg {
    background-color: #2A2E34;
}

.navbar-brand.text-color-yellow {
    color: #FBE134;
}

.navbar button.navbar-toggler.nav-yellow {
   border: 2px solid #FBE134;
   background-color: #FBE134;
}