.sec-bg {
    color: #FFFFFF;
    background-color: #2A2E34;
}

.sec-bg .card:hover {
    box-shadow: 0 0 50px gold;
}

.sec-list-item {
    img {
        height: 15px; margin-right: 5px;
        filter: invert(78%) sepia(69%) saturate(515%) hue-rotate(80deg) brightness(92%) contrast(88%);
    }
}

.choose-img {
  filter: invert(72%) sepia(84%) saturate(556%) hue-rotate(359deg) brightness(103%) contrast(105%);
  height: 100px;
}

.video-parent-container {
    background-color: #2a2e34;
}

@media (max-width: 700px) {
    .video-bg video {
        width: 100%;
    }
}